<li>
	{{burger_name}}
<br>
	<a class="change-devoured waves-effect waves-light btn" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}} eat it {{else}} send it back {{/if}}
	</a>
<br><br>
</li>
